[submodule "mimic_video_workspace/external/mimic-video"]
    path = mimic_video_workspace/external/mimic-video
    url = https://github.com/mimic-video/mimic-video.git

[submodule "interleave_pi_zero_workspace/external/Interleave-VLA"]
    path = interleave_pi_zero_workspace/external/Interleave-VLA
    url = https://github.com/Clex-Auciniello/Interleave-VLA.git
[submodule "ai_controller/ai_controller/models/vla_jepa_controller/external/lerobot"]
	path = ai_controller/ai_controller/models/vla_jepa_controller/external/lerobot
	url = https://github.com/ciccio42/lerobot.git
