*log
build/
install/
*mp4
*.pyc
traj_tmp/
*.pkl
resource/
!ai_controller/resource/
!ai_controller/resource/ai_controller
test/
checkpoint_folder/
*png
save_images/
saved_rollouts/

/ai_controller/ai_controller/models/seedo_controller/models/seedo/**
real_tests/