*log
build/
install/
*mp4
*.pyc
traj_tmp/
*.pkl
resource/
test/
checkpoint_folder/
*png
save_images/
saved_rollouts/
mimic_video_workspace/outputs/
mimic_video_workspace/checkpoints/
mimic_video_workspace/logs/
mimic_video_workspace/processed_data/
mimic_video_workspace/**/__pycache__/
mimic_video_workspace/**/*.pyc
mimic_video_workspace/tmp/
interleave_pi_zero_workspace/external/
interleave_pi_zero_workspace/outputs/
interleave_pi_zero_workspace/checkpoints/
interleave_pi_zero_workspace/logs/
interleave_pi_zero_workspace/processed_data/
interleave_pi_zero_workspace/**/__pycache__/
interleave_pi_zero_workspace/**/*.pyc
interleave_pi_zero_workspace/tmp/
mimic_video_workspace/test/initial_frames/
mimic_video_workspace/test/language_embeddings/
mimic_video_workspace/test/outputs/